<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibAlert</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="/" class="navbar-brand">LibAlert</a>
          <form class="d-flex" action="/result" method="POST" >
            <input class="form-control me-2" type="search" placeholder="Search for libraries" aria-label="Search" name="libname">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container mt-5">
          <h2> One stop for all library updates!</h2>
          <p class="mt-5"> At LibAlert, we value your time and that's why we've made surfing through release notes easy for you.</p>
          <p> Get quick updates about recent support and deprecation of various libraries in just one search.</p>
      </div>
</body>
</html>